name: library service CI

on:
  push:
    branches: [main]

jobs:
  test:
    strategy:
      fail-fast: false
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11.5"

      - name: make venv
        run: python -m venv venv

      - name: start venv
        run: venv\Scripts\activate

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Install pytest
        run: python -m pip install pytest 

      - name: Start database
        run: python -c "from database import init_database; init_database()"

      - name: Run tests
        run: pytest  --cov=. --cov-report=xml tests/
